@media (max-width: 1150px) {
    .home h1 {
        font-size: 40px;
    }

    .home h1 .span1 {
        font-size: 50px;
        letter-spacing: 22px;
    }
}

@media (max-width: 1100px) {

    nav {
        gap: 4em;
    }

    nav a {
        font-size: 20px;
    }

    .logo {
        font-size: 25px;
    }

    .logo img {
        width: 35px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .home h1 {
        font-size: 35px;
    }

    .home h1 .span1 {
        font-size: 43px;
    }

    .img2 {
        height: 500px;
    }

    .card-container {
        justify-content: center;
    }

    .card-container>* {
        width: 48%;
    }
}



@media (max-width: 1000px) {
    .home h1 {
        font-size: 30px;
        line-height: 1.8;
    }

    .home h1 .span1 {
        font-size: 35px;
    }

    .img2 {
        height: 350px;
    }
}


@media (max-width: 900px) {

    header {
        padding: 2%;
    }

    nav a {
        font-size: 14px;
    }

    .logo {
        font-size: 20px;
    }

    .logo img {
        width: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .home h1 {
        font-size: 25px;
    }

    .home h1 .span1 {
        font-size: 30px;
        letter-spacing: 21px;
    }

    .img2 {
        height: 300px;
    }

}

@media(max-width: 890px) {
    .card-container>* {
        width: 46%;
    }
}

@media(max-width: 850px) {

    .product {
        padding-bottom: 20px;
    }

    .map {
        height: 350px;
        width: 600px;
    }

    .title-con {
        top: 10px;
        letter-spacing: 2px;
        font-size: 15px;
    }

    .map img {
        height: 300px;
    }

    .fa-facebook-square {
        position: absolute;
        right: 35%;
        bottom: 180px;
        font-size: 35px;
        padding: 5px 8px;
    }

    .contact-info {
        font-size: 12px;
    }

    .ri-phone-line {
        font-size: 15px;
        color: red;
    }

    .fa-viber {
        color: purple;
        font-size: 15px;
    }

    .fa-square-whatsapp {
        font-size: 16.5px;
        color: green;
    }
}

@media (max-width: 760px) {
    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 55px;
        padding-bottom: 55px;
        height: auto;
    }

    .img2 {
        order: 1;
    }

    .home h1 {
        order: 2;
        text-align: center;
        font-size: 40px;
        line-height: 1.3;
    }

    .home h1 .span1 {
        font-size: 50px;

    }

    .product {
        padding-top: 40px;
    }

    .card-container {
        padding: 30px 1% 20px 1%;
        gap: 0.5em;
    }

    .card-container>* {
        width: 48%;
    }

    .card h3 {
        margin-top: 10px;
        font-size: 22px;
    }

    .card img {
        height: 200px;
    }


    .card .price p {
        font-size: 27px;

    }

}



@media (max-width: 700px) {


    nav {
        gap: 2.5em;
    }
}

@media(max-width: 650px) {

    .product {
        padding-bottom: 5px;
    }

    .map {
        height: 300px;
        width: 400px;
    }

    .title-con {
        font-size: 10px;
    }

    .map img {
        height: 250px;
    }

    .fa-facebook-square {
        right: 31%;
        bottom: 150px;
        font-size: 30px;
        padding: 4px 7px;
        border-radius: 7px;
    }

    .contact-info {
        font-size: 9px;
    }

    .ri-phone-line {
        font-size: 12px;
        color: red;
    }

    .fa-viber {
        color: purple;
        font-size: 12px;
    }

    .fa-square-whatsapp {
        font-size: 13px;
        color: green;
    }
}

@media (max-width: 600px) {

    .home {
        padding-top: 45px;
        padding-bottom: 35px;
        height: auto;
    }

    .home h1 {

        font-size: 25px;

    }

    .home h1 .span1 {
        font-size: 30px;
        letter-spacing: 19px;

    }

    .img2 {
        height: 250px;
    }

    .card-container {
        padding: 20px 1% 20px 1%;

    }

    .heading {
        font-size: 30px;
    }
}

@media (max-width: 550px) {
    nav {
        flex-direction: column;
        background: rgb(232, 219, 219);
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        gap: 1em;
        padding: 10px;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    nav a {
        border: 1px solid gray;
        padding: 10px;
        font-size: 20px;
    }


    .menu {
        display: block;
    }

    .nav-bar.active {
        max-height: 300px;
        opacity: 1;
    }

    .logo {
        font-size: 25px;
    }

    .logo img {
        width: 35px;
    }

}

@media (max-width: 450px) {

    .home {
        padding-top: 45px;
        padding-bottom: 35px;

    }

    .home h1 {
        font-size: 18px;
        letter-spacing: 7px;
    }

    .home h1 .span1 {
        font-size: 23px;
        letter-spacing: 12px;
    }

    .img2 {
        height: 200px;
    }

    .card h3 {
        font-size: 15px;
    }

    .card img {
        height: 130px;
    }

    .card .price p {
        font-size: 22px;
    }

    .card i {
        font-size: 12px;
    }
}

@media(max-width: 440px) {

    .product {
        padding-bottom: 0;
    }

    .contact {
        
        padding: 0 2% 10px 2%;
    }

    .map {
        height: 250px;
        width: 100%;
        
    }

    .title-con {
        font-size: 8px;
        
    }

    .map img {
        height: 200px;
    }

    .fa-facebook-square {
        right: 34%;
        bottom: 125px;
        font-size: 30px;
        padding: 3px 5px;
        border-radius: 7px;
    }

    .contact-info {
        font-size: 8px;
    }

    .ri-phone-line {
        font-size: 10px;
        color: red;
    }

    .fa-viber {
        color: purple;
        font-size: 10px;
    }

    .fa-square-whatsapp {
        font-size: 11px;
        color: green;
    }
}

@media(max-width: 380px){
    .fa-facebook-square {
        right: 32%;
        
    }
}

@media(max-width: 340px){
    .fa-facebook-square {
        right: 30%;
        
    }
}